<!DOCTYPE html>
<html ng-app="modone">
    <head>
        <script src="js/libs/angular.min.js"></script>
        <script src="appmodule.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <title>BecasECIWeb</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
   <body ng-app="modone">
        <div ng-controller="AppController">
            <div align="center">
                <img src="images/BecasECIWebLogo.PNG" width="387" height="198" alt="BecasECIWebLogo"/>
            </div>
            <div ng-show="mostrarSeleccionUsuario" align="center">
                <label>Seleccione su rol para acceder a los servicios:</label>
                <div id="content">
                    <button ng-click="irAServiciosEstudiante()">
                        Estudiante
                    </button>
                    <br>
                    <button ng-click="irAServiciosOrganizacion()">
                        Organizacion
                    </button>
                    <br>
                    <button ng-click="irAServiciosCoordinador()">
                        Coordinador Apoyo Financiero
                    </button>
                </div>
            </div>
            
            <!-- Pagina 1 -->
            <div ng-show="mostrarServiciosEstudiante" align="center">
                <div id="content">
                    <button ng-click="irABecasDisponiblesEstudiante()">
                        Consultar Becas Disponibles
                    </button>
                    <button ng-click="irAProyectosOrganizacionEstudiantes()">
                        Consultar Organizaciones
                    </button>
                    <button ng-click="irAOpinionesEstudiante()">
                        Consultar Opiniones
                    </button>
                </div>
                <div id="navigation">
                    <button ng-click="irASeleccionUsuario()">
                        Volver
                    </button>
                </div>
            </div>
            
            
            
            <div ng-show="mostrarBecasDisponiblesEstudiante" align="center">
                <table title="Becas Disponibles" border="4">
                    <label>
                        Becas Disponibles (Seleccione para más Detalles)
                    </label>
                    <tr>
                        <th>Identificador de Beca</th>
                        <th>Beca</th>
                    </tr>
                    <tr ng-repeat = "beca in becas | orderBy: 'id'" ng-click="setBecaSeleccionada(beca.id)" ng-class="{selected: beca.id === becaSeleccionada}">
                        <td>{{ beca.id}}</td>
                        <td>{{ beca.nombre }}</td>
                    </tr>
                </table>
                <button ng-show="becaSeleccionada!==Null" ng-click="irABecaEstudiante()">
                    <label>
                        Ir a Beca Seleccionada
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irAServiciosEstudiante()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarBecaEstudiante" align="center">
                <label>
                    Detalles de Beca:
                </label>
                <br>
                <label>
                    Identificador: {{becaDeInteres.id}}
                </label>
                <br>
                <label>
                    Nombre: {{becaDeInteres.nombre}}
                </label>
                <br>
                <label>
                    Duración Semestres: {{becaDeInteres.duracionSemestres}}
                </label>
                <br>
                <table border="4">
                    <tr>
                        <th>Beneficios</th>
                    </tr>
                    <tr ng-repeat = "beneficio in becaDeInteres.beneficios">
                        <td>{{ beneficio }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <tr>
                        <th>Opciones</th>
                    </tr>
                    <tr ng-repeat = "opcion in becaDeInteres.opciones">
                        <td>{{ opcion }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <tr>
                        <th>Condiciones</th>
                    </tr>
                    <tr ng-repeat = "condicion in becaDeInteres.condiciones">
                        <td>{{ condicion }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <label>
                        Opiniones
                    </label>
                    <tr>
                        <th>Titulo</th>
                        <th>Opinion</th>
                        <th>Autor</th>
                    </tr>
                    <tr ng-repeat = "opinion in opinionesDeBeca">
                        <td>{{ opinion.titulo }}</td>
                        <td>{{ opinion.opinion }}</td>
                        <td>{{ opinion.autor.nombre }} {{ opinion.autor.apellido }}</td>
                    </tr>
                </table>
                <br>
                <form ng-show="aplicar">
                    <label>Indique su ID como Estudiante: </label>
                    <input type="number" name="aplicar" ng-model="est" ng-change="idValido = false"/>
                    <br>
                    <button ng-show="est !== null && !idValido" ng-click="validarId()">
                        Verificar Existencia ID
                    </button>
                    <br>
                    <div ng-show="idValido">
                        <button ng-click="guardarPostulacion()">
                            Confirmar Postulación
                        </button>
                        <br>
                        <label>Estado de Postulación {{estadoAplicacion}}</label>
                    </div>
                </form>
                <br>
                <div id="navigation">
                    <button ng-hide="aplicar" ng-click="aplicar = true">
                        Aplicar a Beca
                    </button>
                    <br>
                    <button ng-click="irABecasDisponiblesEstudiante()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarProyectosOrganizacionEstudiantes" align="center">
                <table border="4">
                    <label>
                        Organizaciones (Seleccione para más Detalles)
                    </label>
                    <tr>
                        <th>Identificador de Organización</th>
                        <th>Nombre Organización</th>
                        <th>Tipo de Organización</th>
                        <th>Página Principal</th>
                        <th>Slogan de la Organización</th>
                        <th>Dirección de Sede Principal</th>
                    </tr>
                    <tr ng-repeat = "organizacion in organizaciones | orderBy: 'id'" ng-click="setOrganizacionSeleccionada(organizacion.id)" ng-class="{selected: organizacion.id === organizacionSeleccionada}">
                        <td>{{ organizacion.id }}</td>
                        <td>{{ organizacion.nombre }}</td>
                        <td>{{ organizacion.tOrganizacion }}</td>
                        <td>{{ organizacion.urlLogo }}</td>
                        <td>{{ organizacion.slogan }}</td>
                        <td>{{ organizacion.dirSedePpal }}</td>
                    </tr>
                </table>
                <button ng-show="organizacionSeleccionada!==Null" ng-click="irAProyectosEstudiantes()">
                    <label>
                        Ver Proyectos de Organización Seleccionada
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irAServiciosEstudiante()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarProyectosEstudiantes" align="center">
                <table border="4">
                    <label>
                        Proyectos (Seleccione para más Detalles)
                    </label>
                    <tr>
                        <th>Identificador de Proyecto</th>
                        <th>Nombre de Proyecto</th>
                    </tr>
                    <tr ng-repeat = "proyecto in proyectosDeOrganizacion | orderBy: 'codigo'" ng-click="setProyectoSeleccionado(proyecto.codigo)" ng-class="{selected: proyecto.codigo === proyectoSeleccionado}">
                        <td>{{ proyecto.codigo }}</td>
                        <td>{{ proyecto.nombre }}</td>
                    </tr>
                </table>
                <button ng-click="irAProyectoEstudiantes()" ng-show="proyectoSeleccionado!==Null">
                    <label>
                        Ver detalles de Proyecto Seleccionado
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irAProyectosOrganizacionEstudiantes()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarProyectoEstudiantes" align="center">
                <label>
                    Detalles Proyecto:
                </label>
                <br>
                <label>
                    Codigo: {{proyectoDeInteres.codigo}}
                </label>
                <br>
                <label>
                    Nombre: {{proyectoDeInteres.nombre}}
                </label>
                <br>
                <label>
                    Fecha de Inicio: {{proyectoDeInteres.fechaInicio | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </label>
                <br>
                <label>
                    Fecha de Fin: {{proyectoDeInteres.fechaFin | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </label>
                <br>
                <label>
                    Tema: {{proyectoDeInteres.tema}}
                </label>
                <br>
                <label>
                    Objetivo: {{proyectoDeInteres.objetivo}}
                </label>
                <br>
                <table border="4">
                    <label>
                        Estudiantes Participantes en este Proyecto
                    </label>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                    <tr ng-repeat = "estudiante in proyectoDeInteres.participan">
                        <td>{{ estudiante.id }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                    </tr>
                </table>
                <br>
                <form ng-show="aplicar">
                    <label>Indique su ID como Estudiante: </label>
                    <input type="number" name="aplicar" ng-model="est" ng-change="idValido = false"/>
                    <br>
                    <button ng-show="est !== null && !idValido" ng-click="validarIdPar()">
                        Verificar Existencia ID
                    </button>
                    <br>
                    <div ng-show="idValido">
                        <button ng-click="guardarPostulacionProyecto()">
                            Confirmar Postulación
                        </button>
                    </div>
                </form>
                <br>
                <div id="navigation">
                    <button ng-hide="aplicar" ng-click="aplicar = true">
                        Participar en este Proyecto
                    </button>
                    <br>
                    <button ng-click="irAProyectosEstudiantes()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarOpinionesEstudiante" align="center">
                <table border="4">
                    <label>
                        Opiniones
                    </label>
                    <tr>
                        <th>Identificador de Opinión</th>
                        <th>Titulo de Opinión</th>
                        <th>Cuerpo de Opinión</th>
                        <th>Autor de Opinión</th>
                        <th>Beca de Opinión</th>
                    </tr>
                    <tr ng-repeat = "opinion in opiniones | orderBy: 'id'">
                        <td>{{ opinion.id }}</td>
                        <td>{{ opinion.titulo }}</td>
                        <td>{{ opinion.opinion }}</td>
                        <td>{{ opinion.autor.nombre }}</td>
                        <td>{{ opinion.beca.nombre }}</td>
                    </tr>
                </table>
                <button ng-click="irARegistrarOpinionEstudiante()">
                    <label>
                        Registrar Una Opinión
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irAServiciosEstudiante()">
                        Volver
                    </button>
                </div>                               
            </div>
                
            
            <div ng-show="mostrarServiciosOrganizacion" align="center">
                <label>Indique su ID de Organización a Consultar: </label>
                <input type="number" name="org" ng-model="org" ng-change="idOrgValido = false"/>
                <br>
                <button ng-hide="idOrgValido" ng-click="validarIdOrg()">
                    <label>
                        Validar ID Organización
                    </label>
                </button>
                <br>
                <button ng-show="idOrgValido" ng-click="irARegistrarProyectoOrganizacion()">
                    <label>
                        Registrar un Nuevo Proyecto
                    </label>
                </button>
                <br>
                <button ng-show="idOrgValido" ng-click="irAProyectosOrganizacion()">
                    <label>
                        Ver Proyectos de esta Organización
                    </label>
                </button>
                <br>
                <div id="navigation">
                    <button ng-click="irASeleccionUsuario()">
                        Volver
                    </button>
                </div>                               
            </div>
            
            <div ng-show="mostrarProyectosOrganizacion" align="center">
                <table border="4">
                    <label>
                        Proyectos de Organización (Seleccione para más Detalles)
                    </label>
                    <tr>
                        <th>Identificador de Proyecto</th>
                        <th>Nombre de Proyecto</th>
                    </tr>
                    <tr ng-repeat = "proyecto in proyectosDeOrganizacion | orderBy: 'codigo'" ng-click="setProyectoSeleccionadoOrg(proyecto.codigo)" ng-class="{selected: proyecto.codigo === proyectoSeleccionadoOrg}">
                        <td>{{ proyecto.codigo }}</td>
                        <td>{{ proyecto.nombre }}</td>
                    </tr>
                </table>
                <button ng-click="irAProyectoOrganizacion()" ng-show="proyectoSeleccionadoOrg!==Null">
                    <label>
                        Ver detalles de Proyecto Seleccionado
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irAServiciosOrganizacion()">
                        Volver
                    </button>
                </div>                               
            </div>
            
            <div ng-show="mostrarProyectoOrganizacion" align="center">
                <label>
                    Detalles Proyecto:
                </label>
                <br>
                <label>
                    Codigo: {{proyectoDeInteres.codigo}}
                </label>
                <br>
                <label>
                    Nombre: {{proyectoDeInteres.nombre}}
                </label>
                <br>
                <label>
                    Fecha de Inicio: {{proyectoDeInteres.fechaInicio | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </label>
                <br>
                <label>
                    Fecha de Fin: {{proyectoDeInteres.fechaFin | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </label>
                <br>
                <label>
                    Tema: {{proyectoDeInteres.tema}}
                </label>
                <br>
                <label>
                    Objetivo: {{proyectoDeInteres.objetivo}}
                </label>
                <br>
                <table border="4">
                    <label>
                        Estudiantes Participantes en este Proyecto
                    </label>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                    <tr ng-repeat = "estudiante in proyectoDeInteres.participan">
                        <td>{{ estudiante.id }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                    </tr>
                </table>
                <br>
                <div id="navigation">
                    <button ng-click="irAProyectosOrganizacion()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarRegistrarProyectoOrganizacion" align="center">
                <label>
                    Detalles Proyecto:
                </label>
                <br>
                <label>
                    Nombre: 
                </label>
                <input type="text" ng-model="nombreProyecto"/>
                <br>
                <label>
                    Fecha de Inicio: 
                </label>
                <input type="date" ng-model="fechaInicioProyecto"/>
                <br>
                <label>
                    Fecha de Fin: 
                </label>
                <input type="date" ng-model="fechaFinProyecto"/>
                <br>
                <label>
                    Tema: 
                </label>
                <input type="text" ng-model="temaProyecto"/>
                <br>
                <label>
                    Objetivo: 
                </label>
                <input type="text" ng-model="objetivoProyecto"/>
                <br>
                <button ng-click="datosProyectoValidos()" ng-hide="datosValidos">
                        Validar Datos
                </button>
                <br>
                <button ng-click="guardarProyecto()" ng-show="datosValidos">
                    Registrar Proyecto
                </button>
                <br>
                <label> Estado de Registro: {{estadoRegistro}}</label>
                <br>
                <div id="navigation">
                    <button ng-click="irAServiciosOrganizacion()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarServiciosCoordinador" align="center">
                <div id="content">
                    <button ng-click="irABecasDisponiblesCoordinador()">
                        Consultar Becas Disponibles
                    </button>
                </div>
                <div id="navigation">
                    <button ng-click="irASeleccionUsuario()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarBecasDisponiblesCoordinador" align="center">
                <table title="Becas Disponibles" border="4">
                    <label>
                        Becas Disponibles (Seleccione para más Detalles)
                    </label>
                    <tr>
                        <th>Identificador de Beca</th>
                        <th>Beca</th>
                    </tr>
                    <tr ng-repeat = "beca in becasCoor | orderBy: 'id'" ng-click="setBecaSeleccionadaCoor(beca.id)" ng-class="{selected: beca.id === becaSeleccionadaCoor}">
                        <td>{{ beca.id}}</td>
                        <td>{{ beca.nombre }}</td>
                    </tr>
                </table>
                <button ng-show="becaSeleccionadaCoor!==Null" ng-click="irABecaCoordinador()">
                    <label>
                        Ir a Beca Seleccionada
                    </label>
                </button>
                <br>
                <button ng-click="irARegistrarBecaCoordinador()()">
                    <label>
                        Registrar Nueva Beca
                    </label>
                </button>
                <div id="navigation">
                    <button ng-click="irASeleccionUsuario()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarBecaCoordinador" align="center">
                <label>
                    Detalles de Beca:
                </label>
                <br>
                <label>
                    Identificador: {{becaDeInteresCoor.id}}
                </label>
                <br>
                <label>
                    Nombre: {{becaDeInteresCoor.nombre}}
                </label>
                <br>
                <label>
                    Duración Semestres: {{becaDeInteresCoor.duracionSemestres}}
                </label>
                <br>
                <table border="4">
                    <tr>
                        <th>Beneficios</th>
                    </tr>
                    <tr ng-repeat = "beneficio in becaDeInteresCoor.beneficios track by $index">
                        <td>{{ beneficio }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <tr>
                        <th>Opciones</th>
                    </tr>
                    <tr ng-repeat = "opcion in becaDeInteresCoor.opciones track by $index">
                        <td>{{ opcion }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <tr>
                        <th>Condiciones</th>
                    </tr>
                    <tr ng-repeat = "condicion in becaDeInteresCoor.condiciones track by $index">
                        <td>{{ condicion }}</td>
                    </tr>
                </table>
                <br>
                <table border="4">
                    <label>
                        Opiniones
                    </label>
                    <tr>
                        <th>Titulo</th>
                        <th>Opinion</th>
                        <th>Autor</th>
                    </tr>
                    <tr ng-repeat = "opinion in opinionesDeBecaCoor">
                        <td>{{ opinion.titulo }}</td>
                        <td>{{ opinion.opinion }}</td>
                        <td>{{ opinion.autor.nombre }} {{ opinion.autor.apellido }}</td>
                    </tr>
                </table>
                <table border="4">
                    <label>
                        Aspirantes
                    </label>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                    <tr ng-repeat = "postulacion in postulacionesDeBecaCoor">
                        <td>{{ postulacion.postulado.id }}</td>
                        <td>{{ postulacion.postulado.nombre }}</td>
                        <td>{{ postulacion.postulado.apellido }} {{ opinion.autor.apellido }}</td>
                    </tr>
                </table>
                <br>
                <label>
                    Nuevo Beneficio: 
                </label>
                <input type="text" ng-model="beneficio"/>
                <button ng-click="registrarBeneficio()" ng-hide="beneficio.valueOf()===Null||beneficio.valueOf()===''">
                    <label>
                        Adicionar Beneficio a Beca Actual
                    </label>
                </button>
                <br>
                <label>
                    Nueva Opción: 
                </label>
                <input type="text" ng-model="opcion"/>
                <button ng-click="registrarOpcion()" ng-hide="opcion.valueOf()===Null||opcion.valueOf()===''">
                    <label>
                        Adicionar Opción a Beca Actual
                    </label>
                </button>
                <br>
                <label>
                    Nueva Condición: 
                </label>
                <input type="text" ng-model="condicion"/>
                <button ng-click="registrarCondicion()" ng-hide="condicion.valueOf()===Null||condicion.valueOf()===''">
                    <label>
                        Adicionar Condición a Beca Actual
                    </label>
                </button>
                <br>
                <div id="navigation">
                    <button ng-click="irABecasDisponiblesCoordinador()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarRegistrarBecaCoordinador" align="center">
                <label>
                    Detalles de Beca:
                </label>
                <br>
                <label>
                    Nombre: 
                </label>
                <input type="text" ng-model="nombreBeca"/>
                <br>
                <label>
                    Duración Semestres: 
                </label>
                <input type="number" ng-model="duracionSemestres"/>
                <div id="navigation">
                    <button ng-show="datosBecaValidos()" ng-click="registrarBeca()">
                        Registrar Beca
                    </button>
                    <br>
                    <label ng-show="datosBecaValidos()">
                        Estado de Registro de Beca: {{estadoRegistroBeca}}
                    </label>
                    <br>
                    <button ng-click="irABecasDisponiblesCoordinador()">
                        Volver
                    </button>
                </div>
            </div>
            
            <div ng-show="mostrarRegistrarOpinionEstudiante" align="center">
                <br>
                <label>
                    Titulo de Opinión: 
                </label>
                <input type="text" ng-model="tituloOpinion" ng-change="datosOpinionValidos=false"/>
                <br>
                <label>
                    Cuerpo de Opinión: 
                </label>
                <input type="text" ng-model="cuerpoOpinion" ng-change="datosOpinionValidos=false"/>
                <br>
                <label>
                    ID Autor de Opinión: 
                </label>
                <input type="number" ng-model="idEstOpinion" ng-change="datosOpinionValidos=false"/>
                <br>
                <label>
                    ID Beca de Opinión: 
                </label>
                <input type="number" ng-model="idBecaOpinion" ng-change="datosOpinionValidos=false"/>
                <br>
                <button ng-click="validarOpinion()" ng-hide="datosOpinionValidos">
                    Validar Datos
                </button>
                <br>
                <button ng-show="datosOpinionValidos" ng-click="guardarOpinion()">
                    Registrar Opinion
                </button>
                <div id="navigation">
                    <button ng-click="irAOpinionesEstudiante()">
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
